<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonoGame.Framework.WindowsDX" version="3.5.1.1679" targetFramework="net45" />
  <package id="RogueSharp" version="3.0.0" targetFramework="net45" />
  <package id="SadConsole.Core" version="3.1.1.0" targetFramework="net46" />
  <package id="SadConsole.GameHelpers" version="3.1.0.0" targetFramework="net46" />
</packages>