<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GoRogue" version="1.6.2" targetFramework="net461" />
  <package id="MonoGame.Framework.WindowsDX" version="3.6.0.1625" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="OptimizedPriorityQueue" version="4.1.1" targetFramework="net461" />
  <package id="SadConsole" version="7.2.0" targetFramework="net461" />
  <package id="Troschuetz.Random" version="4.3.0" targetFramework="net461" />
</packages>